@{
    ViewData["Title"] = "Home Page";
}


<div class="content container text-left w-100">
    <h1 class="display-3 font-weight-bold">You are richer than you think.</h1>
    <h1 class="text-info mt-5">MCBA - We are here for you.</h1>
    <img class="img-fluid mt-5" src="~/img/HomeBG.jpg"/>
</div>

    




